html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f0f8ff;
  height: 100vh;
  min-height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 800px;
  padding: 45px;
  background: #0084ff;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 32px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: left;
}

input {
  padding: 25px;
  margin-bottom: 34px;
  border: 1px solid #ccc;
  border-radius: 34px;
  font-size: 28px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  padding: 24px;
  border: none;
  border-radius: 35px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  color: white;
  background-color: black;
}

@media screen and (max-width: 849px) {
  .form-container {
    padding: 20px;
    max-width: 90%;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
    margin-bottom: 10px;
  }

  input {
    padding: 18px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  button {
    padding: 18px;
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .form-container {
    padding: 12px;
    max-width: 95%;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  label {
    font-size: 14px;
    margin-bottom: 6px;
  }

  input {
    padding: 12px;
    margin-bottom: 14px;
    font-size: 14px;
  }

  button {
    padding: 14px;
    font-size: 18px;
  }

  .error-message {
    color: #aa0600 !important;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: left;
  }

  @media screen and (max-width: 849px) {
    .error-message {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 400px) {
    .error-message {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}
