html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f0f8ff;
}

.form-container {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background: #399fff;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 6px;
  text-align: left;
}

input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 34px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  padding: 12px;
  border: none;
  border-radius: 35px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  color: white;
  background-color: black;
}

.error-message {
  color: #aa0600 !important;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;
}

#tipocliente {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

#tipocliente label {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center; 
}

#tipocliente input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

@media screen and (max-width: 1366px) {
  .form-container {
    padding: 15px;
  }

  h1 {
    font-size: 22px;
  }

  label {
    font-size: 14px;
  }

  input {
    padding: 10px;
    font-size: 12px;
  }

  button {
    padding: 12px;
    font-size: 12px;
  }
}

@media screen and (max-width: 849px) {
  .form-container {
    padding: 12px;
    max-width: 90%;
    max-height: 70vh;
  }

  h1 {
    font-size: 20px;
  }

  label {
    font-size: 12px;
  }

  input {
    padding: 8px;
    font-size: 10px;
  }

  button {
    padding: 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .form-container {
    padding: 10px;
    max-width: 95%;
    max-height: 60vh;
  }

  h1 {
    font-size: 18px;
  }

  label {
    font-size: 12px;
  }

  input {
    padding: 6px;
    font-size: 10px;
  }

  button {
    padding: 8px;
    font-size: 10px;
  }
}
