body {
  background-color: #f0f8ff; /* Azul claro /
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff; / Fundo branco */
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.text-muted {
  font-size: 0.9rem;
}

.container {
  max-width: 1200px;
}