
  <app-navbar></app-navbar>


<div class="container mt-5">
  <h2 class="title-circle text-center mb-4">Comprar refeicao</h2>

  <form [formGroup]="form" (ngSubmit)="adicionarSaldo()" class="form-container">
    <div class="form-group">
      <label for="valor">Valor:</label>
      <input formControlName="valor" type="number"  id="valor" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="form.invalid">Comprar refeicao</button>
  </form>

  <div *ngIf="resultado" [ngClass]="resultadoClass" class="alert mt-4" role="alert">
    <img [src]="resultado"> 
  </div>
</div>
