<div class="container mt-5">
  <!-- Centralizando o título "Consultar Refeições" -->
  <h2 class="title-circle text-center mb-4">Consultar Refeições</h2>

  <form [formGroup]="refeicoesForm" (ngSubmit)="buscarRefeicoes()" class="form-container">
    <div class="form-group">
      <label for="dataRefeicao">Data:</label>
      <input formControlName="dataRefeicao" type="date" id="dataRefeicao" class="form-control">
    </div>

    <div class="form-group">
      <label for="turno">Turno:</label>
      <select formControlName="turno" id="turno" class="form-control">
        <option value="almoço">Almoço</option>
        <option value="jantar">Jantar</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-3">Buscar</button>
  </form>

  <div *ngIf="resultado" [ngClass]="resultadoClass" class="alert mt-4" role="alert">
    {{ resultado }}
  </div>
</div>
