<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="saru-rest" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="saru.saru_rest.SaruRestApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>