// $secondary: #6c757d; //

$tertiary:  #59A1FF;
@use "../node_modules/bootstrap/scss/bootstrap.scss" as *;


html { height: 100%; }
body { 
    background-color: #59A1FF;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    
}

