// $primary: black; // Cor primária personalizada
// $secondary: #6c757d; //

@import "../node_modules/bootstrap/scss/bootstrap.scss";


html { height: 100%; }
body { 
    background-color: #f0f0f0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    
}
